<%- include page/header %>
        <div class="col-md-12 column">
        	<div id="rpmAlert" name="rpmAlert" class="alert alert-danger alert-dismissable fade in">
			    <!--<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>-->
			    <strong>Warring!</strong> Motor speed exceeds the maximum, to the maximum.
			</div>
        </div>
		<div class="col-md-12 column">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h4>
					<span class="glyphicon glyphicon-dashboard"></span>
					Dashboard
					</h4>
				</div>
				<div class="panel-body">
					<div class="col-md-6">



						<div class="box1">
						    <label for="Motor current">Dissolved Oxygen</label>
						    <br>
							<center><div id="payloadMeterDiv"></div></center>
							<br>
					    </div>
					</div>


				    <div class="col-md-6">
						<div class="col-md-6">
							<div class="box">
								<label for="Motor current">Current</label>
							    <input id="current" name="current" type="text" value="0" readonly disabled/>
						    </div>
						</div>
						<div class="col-md-6">
							<div class="box">
								<label for="motor status">Status</label>
							    <input id="code" name="code" type="text"  value="Overcurrent" readonly disabled/>
						    </div>
						</div>
						<div class="col-md-6">
							<div class="box">
								<label for="direction">Direction</label>
							    <input id="turn" name="turn" type="text" value="Forward" readonly disabled>
						    </div>
						</div>
						<div class="col-md-6">
							<div class="box">
								<label for=RPM">Limit</label>
							    <input id="rpm" name="rpm" value="440" type="text" size="4" required/>
						    </div>
						</div>

					</div>
					<div class="col-md-6">
						<center><div id="chart_div" ></div></center>
						<center><div id ="maxRpm"></div></center>

					</div>

					<!--<div class="col-md-6">

						<center><div id="payloadMeterDiv"></div></center>

					</div>-->
					<div class="col-md-6" >
					    <br>
					    <center><h1>
					    	<font color="white">RPM Setting</font>
					    </h1></center>
						<hr>
						<br>
						<div class="col-md-3">

								<button type="button" class="btn btn-warning btn-lg" onClick="setMotor(440)"><h3>
								<font color="white">Maximun</font>
								</h3></button>

						</div>
						<div class="col-md-3">
							<button type="button" class="btn btn-success btn-lg" onClick="setMotor(300)"><h3>
								<font color="white">Middle</font>
								</h3></button>
						</div>
						<div class="col-md-3">
							<button type="button" class="btn btn-info btn-lg" onClick="setMotor(150)"><h3>
								<font color="white">Minimun</font>
								</h3></button>
						</div>
						<div class="col-md-3">
							<button type="button" class="btn btn-lg" onClick="setMotor(0)"><h3>Close</h3></button>
						</div>

					</div>

				</div>

            </div>

			<!--<h2>轉速</h2>-->
			<input type="hidden" id="off_delay" name="off_delay" size="3" readonly disabled>
			<input type="hidden" id="on_delay" name="on_delay" size="3" readonly disabled>

			<!--<h2>錯誤訊息</h2>-->

			<input id="mac" name="mac" value=<%= mac%> type="hidden" >


			<div id="status"></div>

		</div><!--/.col-->


<%- include page/footer %>